.c-HomeAbout{
  margin: 0;
  height: fit-content;
  min-height: 450px;
  width: 100%;
  background-color: #380036;
  background-image: linear-gradient(100deg, #380036 60vw, #017979 80vw);
  align-items: center;
  display: flex;
  justify-content: center;

}

.c-HomeAbout--textBox{
  height: fit-content;
  width: fit-content;
  margin: 80px 0;
  max-width: 90%;

}

h1{
  font-size: 52px;
  color: white;
  font-family: Objectivity-Bold;
  text-transform: uppercase;
  letter-spacing: 2px;
}

p{
  color: white;
  font-size: 22px;
  line-height: 45px;
  font-family: Objectivity-Regular;
  letter-spacing: .5px
}

h5{
  color: white;
  font-size: 20px;
  font-family: Objectivity-Regular;
  letter-spacing: .5px;
  margin-bottom: 0;
}

h2{
  color: white;
  margin-top: 5px;
  font-size: 42px;
  font-family: DancingScript-Regular;
  letter-spacing: .5px
}
