.c-HomeHero{
  margin: 0;
  height: 100vh;
  min-height: 450px;
  width: 100%;
  background-color: #380036;
  background-image: linear-gradient(100deg, #380036 70vw, #017979 90vw);
  align-items: center;
  display: flex;
  justify-content: center;

}

.c-HomeHero--textBox{
  height: fit-content;
  width: fit-content;
  min-width: 400px;
}

.c-HomeHero--title{
  color: white;
  font-family: "Pirulen";
  font-size: 62px;
  margin-top: 0;
  text-align: center;
}

.c-HomeHero--subtitle{
  text-align: center;
  font-family: "Video";
  font-size: 42px;
  color: white;
}


/* .output {
  text-align:center;
  font-family: 'Source Code Pro', monospace;
  color:white;
  h1 {
    font-size:30px;
  }
}

/* Cursor Styling

.cursor::after {
  content:'';
  display:inline-block;
  margin-left:3px;
  background-color:white;
  animation-name:blink;
  animation-duration:0.5s;
  animation-iteration-count: infinite;
}

p.cursor::after {
  height:13px;
  width:6px;
}

@keyframes blink {
  0% {
    opacity:1;
  }
  49% {
    opacity:1;
  }
  50% {
    opacity:0;
  }
  100% {
    opacity:0;
  }
}

*/
